crimes.pdf
paper/crimes.aux
paper/crimes.log
paper/crimes.out
paper/chapters/materialMethods.log
paper/chapters/sources.bib.bak
paper/crimes.lof
paper/crimes.lot
paper/crimes.synctex.gz
paper/crimes.toc
.RData
.RHistory
